{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Loan form {% endblock %}

{% block strona %}
    <div class="card" style="width: 46rem;">
        <div class="card-body">
            <h5 class="card-title">Complete the application:</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
<!--                {{ form.fields }}-->
                {{ 'Oprocentowanie wynosi: ' }}
                {{ interest_rate }}
                {{ '%' }}
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>


    <a href="{% url 'loan_list' %}">Back</a>
{% endblock %}
