{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Wniosek form {% endblock %}

{% block strona %}
    <div class="card" style="width: 46rem;">
        <div class="card-body">
            <h5 class="card-title">Wypełnij wniosek:</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary">Dodaj wniosek</button>
            </form>
        </div>
    </div>


    <a href="{% url 'lista_kredytow' %}">Cofnij</a>
{% endblock %}
